*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: 0.875em;
    --c-main-bg: #f4f4f9;
    --c-secondary-bg: #fff;
    --c-text: #01011b;
    --c-text-accent: #027602; 
    --c-main-accent: #7b04df;
    --c-main-accent-light: #8917e7;
    --c-main-bg-tr-50: rgba(244, 244, 249, 0.5);
    --c-text-light: #ffffff;
    --c-text-alert: rgb(255, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

body {
    min-height: 100vh;
    background-color: var(--c-main-bg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.3;
    color: var(--c-text);
}

.page {
    padding: 2rem;
    max-width: 1230px;
    margin: 0 auto;

    --gap-vertical: 20px;
    --gap-horizontal: 50px;
    --col-gaps-number: calc(var(--col-number) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-horizontal) var(--gap-vertical);
}
.product-card {
    font-size: 1rem;
    
    flex: 0 1 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--c-secondary-bg);
    border-radius: 1em;
    overflow: clip;
} 
.product-card__header {
    position: relative;
    align-self: stretch;

} 
.product-card__image {
    display: block;
    position: relative;
    aspect-ratio: 4 / 3;
    overflow: hidden;
} 
.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .1s;
}
.product-card__image:hover img {
    transition: transform .3s;
    transform: scale(1.1);
} 
.favorite-button {
    position: absolute;
    right: 20px;
    bottom: 0;
    border-radius: 50%;
    padding: 5px;

    background-color: var(--c-main-bg-tr-50);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    transform: translateY(50%);
} 
.favorite-button:hover {
    background-color: var(--c-main-bg);
}
.favorite-button svg {
    pointer-events: none;
    width: 100%;
    height: auto;
}
.product-card__body {
    flex: 1;
    padding: 1em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
} 
.product-card__title-link:hover {
    text-decoration: underline;
}
.product-card__title {
    font-weight: normal;
    font-size: 1.4rem;

}
.product-card__status {
    font-size: 1.4rem;
} 
.product-card__status--available {
    color: var(--c-text-accent);
}
.product-card__status--out {
    color: var(--c-text-alert);
}
.product-card__price-info {
} 
.price-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
} 
.price-info__icon {
    margin-right: 0.5em;
} 
.price-info__value {
    margin: 0 0.5em;
    font-weight: bold;
} 
.price {
    margin-top: 2em;
    font-size: 1.5rem;
    font-weight: bold;
}
.product-card__button {
    margin-top: auto;
    display: block;
    width: 100%;
    padding: .5em;
    
    background-color: var(--c-main-accent);
    border-radius: 999px;
    cursor: pointer;
    
    color: var(--c-text-light);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
} 
.product-card__button:hover {
    background-color: var(--c-main-accent-light);
}
.product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 1em;
} 
.store-address {
    font-weight: normal;
} 
.store-address:hover {
    text-decoration: underline;
    
} 
.rating-block {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
} 
.rating-block__icon {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    pointer-events: none;
} 
.rating-block__percentage {
    display: flex;
} 

@media screen and (min-width: 576px) {
    .page {
        --col-number: 2;
        --gap-horizontal: 20px;
    }
    .product-card {
        /* example flex-basis - 100% - (2 * 20px) / 3 = (1080px - 40px) / 3 = 346px */
        flex: 0 1 calc((100% - (var(--col-gaps-number) * var(--gap-vertical))) / var(--col-number));
    }
}

@media screen and (min-width: 992px) {
   .page {
        --col-number: 3;
    }
    .product-card {
        /* example flex-basis - 100% - (2 * 20px) / 3 = (1080px - 40px) / 3 = 346px */
        flex: 0 1 calc((100% - (var(--col-gaps-number) * var(--gap-vertical))) / var(--col-number));
    }
}